apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: search
  namespace: journal--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: journal-team-deployment
    namespace: flux-system
  path: ./kustomizations/search/app
  prune: false
  targetNamespace: journal--prod
  images:
    - name: ghcr.io/elifesciences/search
      newTag: master-44a21bca-20251106.0745 # {"$imagepolicy": "journal--prod:search-stable:tag"}
  dependsOn:
    - name: search-queue
    - name: search-queue-watcher-role
    - name: search-opensearch
  postBuild:
    substituteFrom:
      # search_queue_arn and search_queue_name are retrieved from the configmap
      - kind: ConfigMap
        name: search-queue-config
      # search_queue_watcher_role_arn are retrieved from the configmap
      - kind: ConfigMap
        name: search-queue-watcher-role
    substitute:
      # deployment vars
      env: prod
      aws_region: ${aws_region}
      api_url: https://api.prod.elifesciences.org
