apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: journal-web
  annotations:
    cert-manager.io/cluster-issuer: "${cert_manager_issuer}"
spec:
  rules:
  - host: ${hostname}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: journal-web
            port:
              number: 80
  tls:
  - hosts:
    - ${hostname}
    secretName: ${hostname}-tls
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: journal-web-traefik
  annotations:
    external-dns.alpha.kubernetes.io/controller: "disabled"
    cert-manager.io/cluster-issuer: "${cert_manager_issuer}"
spec:
  ingressClassName: traefik
  rules:
  - host: ${hostname}
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: journal-web
            port:
              number: 80
  tls:
  - hosts:
    - ${hostname}
    secretName: ${hostname}-tls
