apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: recommendations
  namespace: journal--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: journal-team-deployment
    namespace: flux-system
  path: ./kustomizations/recommendations
  prune: true
  targetNamespace: journal--prod
  images:
    - name: ghcr.io/elifesciences/recommendations # {"$imagepolicy": "journal--prod:recommendations-stable:name"}
      newTag: 20251121085530.0.0-gf33cc35-19565203945-1 # {"$imagepolicy": "journal--prod:recommendations-stable:tag"}
  postBuild:
    substitute:
      # deployment vars
      env: prod
      replicas: "3"
      api_url: https://api.prod.elifesciences.org/
