apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: pattern-library
  namespace: journal--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: journal-team-deployment
    namespace: flux-system
  path: ./kustomizations/pattern-library
  prune: true
  targetNamespace: journal--prod
  images:
    - name: docker.io/elifesciences/pattern-library # {"$imagepolicy": "journal--prod:pattern-library-stable:name"}
      newTag: HEAD-69a86d6d-20260121.1510 # {"$imagepolicy": "journal--prod:pattern-library-stable:tag"}
  postBuild:
    substitute:
      # deployment vars
      env: prod
      hostname: ui-patterns.elifesciences.org
      cert_manager_issuer: "letsencrypt"
