apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: basex-validator--prod
  namespace: journal--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: journal-team-deployment
    namespace: flux-system
  path: ./kustomizations/basex-validator
  prune: true
  targetNamespace: journal--prod
  images:
    - name: ghcr.io/elifesciences/basex-validator # {"$imagepolicy": "journal--prod:basex-validator:name"}
      newTag: 20251216152747.0.0-g42a231c-20273297257-1 # {"$imagepolicy": "journal--prod:basex-validator:tag"}
  postBuild:
    substitute:
      replicas: "2"
      hostname: basex-validator.elifesciences.org
      env: prod
      secret_name: basex-validator-secret
