---
apiVersion: opensearch.opster.io/v1
kind: OpensearchSnapshotPolicy
metadata:
  name: opensearch-daily
  namespace: journal
spec:
  enabled: true
  policyName: opensearch-daily
  opensearchCluster:
    name: opensearch
  creation:
    schedule:
      cron:
        expression: "0 0 * * *"
        timezone: "UTC"
    timeLimit: "1h"
  # deletion:
  #   schedule:
  #     cron:
  #       expression: "0 1 * * *"
  #       timezone: "UTC"
  #   timeLimit: "30m"
  #   deleteCondition:
  #     maxAge: "30d"
  snapshotConfig:
    repository: ${aws_backup_s3_bucket}
    indices: "*"
    includeGlobalState: true
    ignoreUnavailable: false
    partial: false
    dateFormat: "yyyy-MM-dd-HH-mm"
    dateFormatTimezone: "UTC"
---
apiVersion: opensearch.opster.io/v1
kind: OpensearchSnapshotPolicy
metadata:
  name: opensearch-monthly
  namespace: journal
spec:
  enabled: true
  policyName: opensearch-monthly
  opensearchCluster:
    name: opensearch
  creation:
    schedule:
      cron:
        expression: "0 2 1 * *"
        timezone: "UTC"
    timeLimit: "1h"
  # deletion:
  #   schedule:
  #     cron:
  #       expression: "0 3 1 * *"
  #       timezone: "UTC"
  #   timeLimit: "30m"
  #   deleteCondition:
  #     maxCount: 12
  #     minCount: 3
  snapshotConfig:
    repository: ${aws_backup_s3_bucket}
    indices: "*"
    includeGlobalState: true
    ignoreUnavailable: false
    partial: false
    dateFormat: "yyyy-MM-dd-HH-mm"
    dateFormatTimezone: "UTC"
