apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: digests
  namespace: journal--prod
spec:
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: journal-team-deployment
    namespace: flux-system
  path: ./kustomizations/digests/app
  prune: true
  targetNamespace: journal--prod
  dependsOn:
  - name: digests-database-secret
  - name: digests-role
  images:
  - name: ghcr.io/elifesciences/digests # {"$imagepolicy": "journal--prod:digests-stable:name"}
    newTag: 20251119082708.0.0-g986bc58-19494744622-1 # {"$imagepolicy": "journal--prod:digests-stable:tag"}
  postBuild:
    substituteFrom:
    - kind: Secret
      name: digests-database-secret # DATABASE_URL
    - kind: ConfigMap
      name: digests-role-config # digests_role_arn
    substitute:
      env: journal--prod
      replicas: "3"
      awsRegion: us-east-1
      busName: bus-digests
      busSubscriber: '"512686554592"'
      busRegion: us-east-1
      busEnv: journal--prod
