---
kind: GatewayConfiguration
apiVersion: gateway-operator.konghq.com/v1beta1
metadata:
  name: api-gateway-${env}
  namespace: journal
spec:
  dataPlaneOptions:
    network:
      services:
        ingress:
          name: api-gateway-web
          type: ClusterIP # internal gateway only
    deployment:
      replicas: ${replicas:-1}
      podTemplateSpec:
        spec:
          containers:
          - name: proxy
            resources:
              limits:
                memory: 1Gi
              requests:
                cpu: 100m
                memory: 800Mi
            env:
              - name: KONG_LOG_LEVEL
                value: "debug"
  controlPlaneOptions:
    deployment:
      podTemplateSpec:
        spec:
          containers:
          - name: controller
            resources:
              limits:
                cpu: 1
                memory: 400Mi
              requests:
                cpu: 100m
                memory: 325Mi
            env:
            - name: CONTROLLER_INGRESS_CLASS
              value: api-gateway-${env}
            - name: CONTROLLER_LOG_LEVEL
              value: debug
