---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: api-gateway
  namespace: journal--prod
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
    traefik.ingress.kubernetes.io/router.middlewares: traefik-ping@kubernetescrd,traefik-ping-fastly@kubernetescrd,traefik-deny-robots@kubernetescrd,journal-prod-api-gateway-documentation-redirect@kubernetescrd
spec:
  ingressClassName: traefik
  rules:
  - host: "api.prod.elifesciences.org"
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: api-gateway-web
            port:
              number: 80
  tls:
  - secretName: api-gateway-tls
    hosts:
    - "api.prod.elifesciences.org"
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: api-gateway-documentation-redirect
  namespace: journal--prod
spec:
  redirectRegex:
    regex: "^https?://[^/]+/$"
    replacement: "/documentation/"
    permanent: false
---
# Mitigation for CVE-2025-64459
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: api-gateway-mitigate-cve-2025-64459
  namespace: journal--prod
spec:
  entryPoints:
    - websecure
  routes:
  - match: Host(`api.prod.elifesciences.org`) && (QueryRegexp(`_connector`, `.*`) || QueryRegexp(`_negated`, `.*`))
    kind: Rule
    priority: 100 # Higher priority than the main Ingress (usually 0)
    middlewares:
    - name: mitigate-cve-2025-64459
      namespace: traefik
    services:
    - name: api-gateway-web
      port: 80
